{{#partial "contenido"}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Sugerencias</li>
  </ol>
</nav>

<div class="container">
  <div class="my-3 d-flex">
    <div class="col-sm">
      <h2>Sugerencias aceptadas</h2>
    </div>
  </div>


  <ul class="list-group">
    {{#each sugerenciasAprobadas}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3 align-items-center">
          <h5> Sugerencia para {{evento.motivo}}</h5>
        </div>
        <div class="col-sm-3">
          <a href="calendar/{{evento.id_evento}}/suggestions/{{id_sugerencia}}"> Ver sugerencia</a>
        </div>

        <div class="col-sm-6 align-items-center">
          <form method="POST" action="/sugerencias/{{id_sugerencia}}/nota">
            <label for="customRange2">Frio - Calor</label>
            <input type="range" class="custom-range" name="nota" min="-5" max="5" id="customRange2">
            <button class="btn btn-success" type="submit">Calificar</button>
          </form>
        </div>
        <div class="col-sm-4">
          Calificación: {{calificacion.superior}}
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{/partial}}

{{> layout.hbs}}