{{#partial "contenido"}}
<p>Este es tu calendario, <b>{{username}}</b></p>

<div class="container">
  <h2 class="ml-3">Eventos</h2>
  <ul class="list-group">
    {{#each eventos}}
    <li class="list-group-item">
      <div class="float-sm-left d-flex align-items-center">
        <p>{{motivo}}</p>
      </div>
      {{#if tieneSugerencias}}
      <form action="/calendar/{{id_evento}}/suggestions" method="GET">
        <button type="submit" class="btn btn-primary float-sm-right">Ver sugerencias</button>
      </form>
      {{else}}
      <form action="/calendar/{{id_evento}}/suggestions" method="POST">
        <button type="submit" class="btn btn-success float-sm-right">Sugerir</button>
      </form>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>

{{/partial}}

{{> layout.hbs}}