{{#partial "contenido"}}
<p>Este es tu calendario, <b>{{username}}</b></p>

<div class="container">
  <h2>Eventos</h2>
  <ul class="list-group">
    {{#each eventos}}
    <li class="list-group-item">{{motivo}} 
	{{#if TieneSugerencias}}
	<form action="/calendar/{{id_evento}}/suggestions" method="GET"><button type="submit" class="btn">Ver sugerencias</button></form></li>
    {{else}}
	<form action="/calendar/{{id_evento}}/suggestions" method="POST"><button type="submit" class="btn">Sugerir</button></form></li>
	{{/if}}
	{{/each}}
  </ul>
</div>

{{/partial}}

{{> layout.hbs}}
