{{#partial "contenido"}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/calendar">Calendario</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a
        href="/calendar/{{sugerencia.evento.id_evento}}/suggestions">Sugerencias({{sugerencia.evento.motivo}})</a></li>
    <li class="breadcrumb-item active" aria-current="page">Atuendo</li>
  </ol>
</nav>

<div class="container d-flex p-2 flex-wrap">

  {{#each sugerencia.atuendo.prendas}}
  <div class="card-container col-sm-3 m-3" style="display: inline-block">
    <div class="card border rounded-sm shadow m-sm-auto p-sm-auto">
      <img src="/img/wardrobe1.png" class="card-img-top" alt="Prenda">
      <div class="card-body">
        <p class="card-title">
          <h3>{{tipo.descripcion}}</h3>
        </p>

      </div>
    </div>
  </div>

  {{/each}}
  <form method="POST" action="/suggestions/{{sugerencia.id_sugerencia}}/aceptada">
    <button class="btn btn-success" type="submit">Aceptar</button>
  </form>
  <form method="POST" action="/suggestions/{{sugerencia.id_sugerencia}}/rechazada">
    <button class="btn btn-danger" type="submit">Rechazar</button>
  </form>
  {{/partial}}

  {{> layout.hbs}}